
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      FITABLE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">FITABLE</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <section>
    <h3>Quick Start</h3>
    <ion-row>
      <ion-col> <ion-button shape="round" (click)="stresspage()" >STRESS</ion-button></ion-col>
      <ion-col><ion-button shape="round" (click)="workoutpage()">WORKOUT</ion-button></ion-col> 
    <ion-col><ion-button shape="round" (click)="motivationpage()">MOTIVATION</ion-button></ion-col>
   <ion-col><ion-button shape="round" (click)="fuelpage()">FUEL</ion-button></ion-col> 
    </ion-row>
    
    
  </section>
  
    <img src="https://i0.wp.com/images-prod.healthline.com/hlcmsresource/images/topic_centers/man-deadlift-1296x728-header.jpg?w=1155&h=1528" />
  

    
  

  
  
</ion-content>
