
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      FITABLE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">FITABLE</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <section>
    <h3>Quick Start</h3>
    <ion-row>
      <ion-col> <ion-button shape="round" (click)="stresspage()" >STRESS</ion-button></ion-col>
      <ion-col><ion-button shape="round" (click)="workoutpage()">WORKOUT</ion-button></ion-col> 
    <ion-col><ion-button shape="round" (click)="motivationpage()">MOTIVATION</ion-button></ion-col>
   <ion-col><ion-button shape="round" (click)="fuelpage()">FUEL</ion-button></ion-col> 
    </ion-row>
    
    
  </section>
    <h2>Welcome Back, Fitness Buddy!!!</h2>
    <h4>Daily Motivational GIFS</h4>
   <div class="gif"><iframe src="https://giphy.com/embed/26BRq9PYFLeJl3WLu" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/animation-illustration-fitness-26BRq9PYFLeJl3WLu">via GIPHY</a></p></div> 
    
  

  
  
</ion-content>
