ion-col > div {
    background-color: #c4eeff;
    border: solid 1px #ddd;
    padding: 10px;
    color:black;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
  }
ion-col>div.title{
    background-color: #f7f7f7;
    border: solid 1px #ddd;
    padding: 10px;
    color:black;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
}
h2{
    text-align: center;
}
