<ion-header>
  <ion-toolbar>
    <ion-title>Stress</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
          [text]="buttonText"
          [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>Resources</h1>
<ion-card>
  <img src="https://media0.giphy.com/media/l3mZ4WW4JN2XraEXm/giphy.gif" />
  <ion-card-header>
    <ion-card-title>Take A Deep Breath</ion-card-title>
  </ion-card-header>
  <ion-card-content>
   Calm Your Mind And Be Still
  </ion-card-content>
</ion-card>
<ion-card>
  <img src="https://thumbs.gfycat.com/EllipticalLankyHagfish-size_restricted.gif" />
  <ion-card-header>
    
    <ion-card-title>LAUGH</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Make Dwight Proud!!!
  </ion-card-content>
</ion-card>

<ion-card>
  <img src="https://i.pinimg.com/originals/b7/63/cc/b763cc84574b3d4a70a3abbfde058b9a.gif" />
  <ion-card-header>
    
    <ion-card-title>JAM OUT</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Sing Along To Your Favorite Songs
  </ion-card-content>
</ion-card>
</ion-content>

